h2 {
	font-size: var(--heading-4-size);
	text-decoration: underline;
}

.container {
	align-items: center;
	/* border: solid rebeccapurple; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.scoresContainer {
	display: flex;
	gap: var(--spacing-l);
	margin-top: var(--spacing-m);
}

/* Unities */

.bold {
	font-weight: 900;
}
